<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @credit_card.user_id %>
</p>

<p>
  <strong>Cardholder:</strong>
  <%= @credit_card.cardholder %>
</p>

<p>
  <strong>Number:</strong>
  <%= @credit_card.number %>
</p>

<p>
  <strong>Expire date:</strong>
  <%= @credit_card.expire_date %>
</p>

<p>
  <strong>Cvv:</strong>
  <%= @credit_card.cvv %>
</p>

<%= link_to 'Edit', edit_credit_card_path(@credit_card) %> |
<%= link_to 'Back', credit_cards_path %>
